#cartSection {
    padding: 0 10%;
    margin-top: 40px;
}

#cepNumber {
    font-size: 14px;
}

.adjust-screen {
    min-height: 77vh;
}

.adjust-screen footer {
    margin-top: none;
}

.shipping-container {
    background-color: #f2f4f7;
    border-radius: 8px;
    overflow: hidden;
    height: 200px;
    color: #242429;
    margin-top: 40px;
}

.shipping-container button {
    border: unset;
    transition: all .2s;
}

.ship-calc {
    justify-content: space-between;
    height: 100%;
    width: 225px;
}

.ship-calc input {
    border: unset;
    outline: unset;
    padding: 0 10px;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    width: 150px;
}

.ship-calc input::-webkit-outer-spin-button,
           input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ship-calc span {
    width: 150px;
    text-align: center;
    font-size: 22px;
    cursor: default;
}

.ship-calc form {
    margin-top: 25px;
}

.cep-btn {
    height: 40px;
    background-color: #008cff;
    border-radius: 5px;
    color: aliceblue;
    width: 150px;
}

.cep-btn:hover {
    background-color: #006dc7;
}

.ship-value-n-place {
    gap: 25px;
    cursor: default;
}

.ship-value {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.total-value {
    width: 250px;
    height: 200px !important;
    background-color: #e0e3e6;
    margin-right: -25px;
    padding: 20px;
    color: #506372;
    font-weight: 500;
    cursor: default;
}

.total {
    width: 100%;
    height: 30px;
    background-color: #fff;
    padding: 0 10px;
    border-radius: 5px;
    cursor: text;
}

.finish-btn {
    background-color: #008cff;
    border-radius: 5px;
    height: 40px;
    color: aliceblue;
    font-weight: 500;
    text-transform: uppercase;
}

.finish-btn:hover {
    background-color: #006dc7;
}

.cart-items-container{
    margin-top: 30px;
    gap: 10px;
}

.cart-item {
    width: 100%;
    background-color: #f2f4f7;
    padding: 10px 20px;
    border-radius: 10px;
    height: 150px;
}

.cart-item-img {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}

.cart-item-img img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.cart-item-info {
    font-size: 16px;
    cursor: default;
    height: 110px;

}

.cart-item-price {
    background-color: #fff;
    width: 100%;
    padding: 0 10px;
    border-radius: 3px;
    margin-top: auto;
    text-align: center;
    font-family: "Nunito", sans-serif;
    border: 2px solid #e0e3e6;
}

.cart-item-info a {
    font-weight: 500;
    color: #008cff;
}

.cart-item-info a:hover {
    color: #006dc7
}

.cart-item-quantity {
    gap: 10px;
    font-size: 18px;
}

.cart-item button {
    width: 35px;
    height: 35px;
    transition: .3s;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #e0e3e6;
    font-weight: 600;
}

.cart-item button:hover {
    background-color: #e0e3e6;
}

.cart-item button:active {
    background-color: #b7babd;
    transition: 0s;
}

.delete-cart-item {
    width: 50px !important;
    height: 50px !important;
    color: #b91313;
    font-size: 18px;
}

.delete-cart-item:hover {
    border: 2px solid #b91313;
}