.similar-products {
    padding: 0 10%;
    margin-top: 25px;
    gap: 20px;
}

.similar-container {
    gap: 20px;
}

.similar-container .product {
    width: 170px;
    height: 250px;
}

.similar-container .prod-bg {
    height: 150px;
}

#moreProducts {
    padding: 0 10%;
    margin-top: 25px;
    gap: 20px;
}

.more-products-container {
    gap: 20px;
}

.more-products-container .product {
    width: 170px;
    height: 250px;
}

.more-products-container .prod-bg {
    height: 150px;
}