.under-header {
    background-color: #242429;
}

.categories {
    background-color: #242429;
}

.cat-btn {
    background-color: #008cff;
    margin: 10px 20px;
    margin-top: 0;
    width: 150px;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: none;
    text-transform: uppercase;
}

#dropdownMenuLink {
    background-color: #008cff;
    transition: all .3s;
}

#dropdownMenuLink:hover{
    background-color: #006dc7;
}

.dropdown-menu{
    max-width: 150px;
    padding: 0 10px;
}

.dropdown-menu .show{
    display: flex;
}

.category-item {
    border-bottom: 1px solid #b6c6d3;
    padding: 5px 0;
    color: #242429;
    transition: all .3s;
}

.category-item:hover {
    color: #006dc7;
}

.category-item:last-child {
    border-bottom: none;
}

.searchbar {
    position: relative;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #b6c6d3;
}

#search {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    padding: 0px 10px;
}

.search-btn {
    color: #242429;
    background-color: transparent;
    padding: 0 5px;
    border: none;
    outline: none;
    padding-left: 5px;
    transform: scale(-1, 1);
    transition: .2s;
}

.search-btn:hover {
    background-color: #f4f4f4;
}

.search-btn:active {
    background-color: #b6c6d3;
    transition: 0s;
}

.cart-icon {
    color: aliceblue;
    font-weight: 500;
    text-transform: uppercase;
    height: 30px;
    cursor: pointer;
    width: 12%;
    padding: 0 10px 0 20px;
    justify-content: center;
}

.cart-icon a {
    display: flex;
    align-items: center;
    color: #f0f8ff;
    transition: all .3s;
}

.cart-icon a:hover {
    display: flex;
    align-items: center;
    color: #bbccdf;
}

.cart-icon a:hover .circle {
    background-color: #006dc7;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #008cff;
    border-radius: 50%;
    color: #242429;
    margin-right: 5px;
    transition: .3s;
}

.hidden {
    display: none;
}

.search-results {
    position: absolute;
    top: 26px;
    width: 100%;
    background-color: #f4f4f4;
    padding: 5px 20px;
    max-height: 50vh;
    overflow-y: auto;
    outline: 2px solid #b6c6d3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-results .slash:last-child {
    display: none;
}

.result {
    padding-top: 10px;
    padding-bottom: 10px;
}
 
.result img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
}