.categories-container {
    padding: 0 10%;
    margin-top: 30px;
}

.main-categories {
    height: 180px;
}

.categories-message {
    display: flex;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #242429;
    padding: 20px;
    gap: 12px;
    color: aliceblue;
}

.bigger {
    font-size: 26px;
    font-weight: 500;
}

.discount {
    color: #008cff;
    font-weight: 500;
}

.categories {
    background-color: #f2f4f7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 20px;
}

.categorie {
    justify-content: center;
    align-items: center;
    color: #757583;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
}

.categorie a {
    gap: 20px;
    color: #757583;
    transition: all .3s;
}

.categorie a:hover {
    color: #008cff;
}

.categorie-image {
    width: 70px;
    height: auto;
    max-height: 70px;
    overflow: hidden;
    cursor: pointer;
}

.categorie span {
    cursor: pointer;
}